.grid {
	margin-left:400px;
	margin-top:-150px;
	display: flex;
	flex-wrap: wrap;
	border: solid 1px;
	width: 300px;
	height: 300px;
	}
.grid div {
	width: 20px;
	height: 20px;
	}
.shooter { background-image:url('images/shooter.jpg'); }
.invader { background-image:url('images/invader1.png'); }
.boom { background-color: red; }
.laser { background-image: linear-gradient(to right, black, Yellow, red, Yellow, black ); }
body { background-color:black;
       color:white;}
